html
    head
        title  Usuarios        
    body                       
        form(action="/db/download" method="POST")
            label( for="access_key") Access Key:
            br            
            input(type="password" name="access_key" placeholder="Access key" required)
            br
            br
            label( for="secret_key") Secret Key:
            br
            input(type="password" name="secret_key" placeholder="Secret key" required)
            br
            br            
            label( for="path_local") Path local:
            br
            input(type="text" name="path_local" placeholder="Ruta destino" required)
            br
            br
            p Motor de base de datos a restaurar:            
            input(type="radio" id="mongo" name="backup_selection" value="mongo")
            label(for="mongo") MongoDB
            br
            input(type="radio" id="postgres" name="backup_selection" value="postgres")
            label(for="mongo") Postgres
            br
            br            
            input(type="submit" value="Dowload")
            