html
    head 
        title Liza Env. tools
    body
        h2 Liza tools
        a(href="/db/download") Download
        br
        br
        a(href="/db/mask") Mask
        br
        br
        a(href="/db/host") Hosts