html
    head
        title  Usuarios        
    body                       
        form(action="/db/restore" method="POST")
            h2 Usted esta por restaurar:
            p Base de Datos: #{context.dbSelection} 
            if context.dbSelection === 'postgres'
                p Si posee un usuario y contraseña personalizados para la bbdd Postgres complete los siguiente campo: 
                br
                label(for="usuario_postgres") Usuario:
                input (type="text" name="usuario_postgres" required)
                br
                label(for="pass_postgres") Contraseña:
                input (type="password" name="pass_postgres" required)
            else
                input (type="hidden" name="usuario_postgres" readonly required value="postgres")
                input (type="hidden" name="pass_postgres" value ="postgres" readonly required)
   
            input(type="hidden" name="dbSelection" value= `${context.dbSelection}` readonly required)
            label(for="downloadPath") Archivo a restaurar #{context.filename}
            br 
            input(type="text" name="downloadPath" value=`${context.downloadPath}` readonly required)
            br
            br
            input(type="submit" value="Restore")
            